/* Загальні стилі для всієї сторінки */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
}

/* Стилі для заголовка */
header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

header h1 {
    font-size: 32px;
    margin: 0;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav li {
    margin-left: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
}

/* Стилі для основного блоку з текстом і зображенням */
main {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/* Стилі для статті */
article {
    flex-basis: 50%;
}

article h2 {
    font-size: 28px;
    margin: 0 0 10px 0;
}

article p {
    line-height: 1.5;
    margin: 0 0 20px 0;
}

/* Стилі для зображення */
section {
    flex-basis: 40%;
}

section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Стилі для футера */
footer {
    background-color: #333;
    color: #fff;
    position:fixed;
    bottom:0;
    width:100%;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
}
